<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form #empForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="empName">Employee Name</label>
          <input type="text" class="form-control" required pattern="[A-Za-z0]+$" minlength="3" maxlength="50" ngModel
            #empName="ngModel" name="empName">
          <p class="text-danger" *ngIf="empName.touched && empName.hasError('required')">Employee name is mandatory</p>
          <p class="text-danger" *ngIf="empName.dirty && empName.hasError('pattern')">Employee name should contain only
            alphabets.</p>
          <p class="text-danger" *ngIf="empName.dirty && empName.hasError('minlength')">MinLength of Employee name
            should be {{empName.errors?.['minlength'].requiredLength}} and the actual length is
            {{empName.errors?.['minlength'].actualLength}}</p>
        </div>

        <div class="form-group">
          <label for="empID">Employee ID</label>
          <input type="text" class="form-control" #empID="ngModel" ngModel name="empID" required>
          <p class="text-danger" *ngIf="empID.touched && empID.hasError('required')">Employee ID is required field</p>
        </div>

        <div class="form-group">
          <label for="leaveType">Leave Type</label>
          <select required name="leaveType" #leaveType="ngModel" ngModel id="leaveType" class="form-control">
            <option value="Casual Leave (CL)">Casual Leave (CL)</option>
            <option value="Sick Leave (SL)">Sick Leave (SL)</option>
            <option value="Earned Leave (EL) / Privilege Leave">Earned Leave (EL) / Privilege Leave</option>
            <option value="Annual Leave">Annual Leave</option>
            <option value="Maternity Leave">Maternity Leave</option>
            <option value="Paternity Leave">Paternity Leave</option>
            <option value="Bereavement Leave">Bereavement Leave</option>
            <option value="Marriage Leave">Marriage Leave</option>
            <option value="Compensatory Off (Comp Off)">Compensatory Off (Comp Off)</option>
            <option value="Half-Day Leave">Half-Day Leave</option>
            <option value="Unpaid Leave / Leave Without Pay (LWP)">Unpaid Leave / Leave Without Pay (LWP)</option>
            <option value="Work From Home">Work From Home</option>
            <option value="Medical Leave">Medical Leave</option>
          </select>
          <p class="text-danger" *ngIf="leaveType.touched && leaveType.hasError('required')">Please Select Leave Type
          </p>
        </div>

        <div class="form-group">
          <label for="from_Date">From Date</label>
          <input type="date" required ngModel #from_Date="ngModel" name="from_Date" class="form-control">
          <p class="text-danger" *ngIf="from_Date.touched && from_Date.hasError('required')">Please Select From Date</p>
        </div>

        <div class="form-group">
          <label for="To_Date">To Date</label>
          <input type="date" required ngModel #To_Date="ngModel" name="To_Date" class="form-control">
          <p class="text-danger" *ngIf="To_Date.touched && To_Date.hasError('required')">Please Select To Date</p>
        </div>

        <div class="form-group">
          <label for="reason">Reason</label>
          <textarea name="reason" ngModel #reason="ngModel" required id="reason" rows="5"
            class="form-control"></textarea>
          <p class="text-danger" *ngIf="reason.touched && reason.hasError('required')">Reason is mandatory field</p>
        </div>

        <button class="btn btn-sm btn-block btn-primary">Apply for Leave</button>
      </form>
    </div>
  </div>
</div>